/CompareStrings.class
/DateConverter.class
/GraphicPigLatin$1.class
/GraphicPigLatin.class
/PigLatin.class
/RandomSentence.class
/RegionComparison.class
/ReverseSentence.class
/SearchForCharacter.class
/SearchingStrings.class
/TextAnalysis.class
/UpperCaseAndLowerCase.class
/VslidatorTest.class
