/AverageCalculator.class
/ColorChooserMap.class
/ColorMapFrame$1.class
/ColorMapFrame.class
/DescendingComparator.class
/DuplicateCounter.class
/DuplicateEliminator.class
/LetterCounter.class
/MapPanel.class
